<!DOCTYPE html>
<html>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>
    Home
</title>

<link rel="stylesheet" href="{{ url_for('static', filename='assets/CSS/style.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/CSS/2.css')}}" />
<head>
</head>

<body>
    <div class="container">
        <div class="home">
            <div class="header">
                <div class="title">
                    <h4>KOMATSU</h4>
                </div>
                <div class="sub_title">
                    <h5>ロボットのステータス</h5>
                </div>
                <div class="box1">

                </div>
                <div class="box2">
                    <div class="header_box">
                        リストに戻る
                    </div>
                </div>
            </div>
            <div class="fixed_div">
                <div class="robot">
                    <div class="robot1">
                        <div class="robot1_text">Robot1</div>
                        <div class="robot1_waiting_text robot_active_back_color">Waiting</div>
                        <div class="robot1_picking_text">Picking</div>
                        <div class="robot1_picking_done_text">Picking Done</div>
                        <div class="robot1_error_text">Error</div>
                    </div>
                </div>
                <div class="robot">
                    <div class="robot1">
                        <div class="robot1_text">Robot2</div>
                        <div class="robot1_waiting_text">Waiting</div>
                        <div class="robot1_picking_text">Picking</div>
                        <div class="robot1_picking_done_text">Picking Done</div>
                        <div class="robot1_error_text">Error</div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</body>

</html>