<!DOCTYPE html>
<html>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>
    Home
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/CSS/style.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/CSS/home.css')}}" />
<head>
</head>

<body>

    <div class="container">
        <div class="home">
            <div class="header">
                <div class="title">
                    <h4>KOMATSU</h4>
                </div>
                <div class="sub_title">
                    <h5>オーダーリスト</h5>
                </div>
                <div class="blank"></div>
                <div class="box1">
                    <div class="header_box">
                        ステータス
                    </div>
                </div>
                <div class="box2">
                    <div class="header_box">
                        過去のオーダ
                    </div>
                </div>
            </div>

            <div class="fixed_div">
                <div class="list">
                    <ul class="listHome">
                        {% if data %}
                            {% for i in data['homepageData'] %}
                                <a href="{{url_for('tw', order_id=i['order_id'])}}">
                                    <li class="listItem">
                                        <div class="flex_row">
                                            <div class="list_index">
                                                <h4 class="index_text">{{i['serial_number']}}</h4>
                                            </div>
                                            <div class="list_key">
                                                <h4 class="key_text">{{i['name']}}</h4>
                                            </div>
                                            <div class="list_value">
                                                {% for k, v in data['color'].items() if k == i['status'] %}
                                                    <h4 class="value_text" style="color: {{v}}">{{i['status']}}</h4>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>